@import "/css/responsive.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&family=Syne:wght@400;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
  }

body {
    margin: 0 auto;
    font-family: "Source", sans-serif;
    font-size: 1.6rem;
    background: rgb(243, 243, 243);
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 6.5px;
  }

  p{
    font-size: 1.5rem;
    line-height: 2;
    font-weight: 300;
    color: rgba(16, 42, 66, 1);
    
  }

  hr {
    border: 0.5px solid #A68F49;
    height: 1px;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
  }

  ul {
    list-style: none;
  }

/* MAIN */

.main {
  margin: 0 auto 0 auto;
}

/* FIRST SECTION */
#first-section {
  margin-left: 2rem;
  margin-right: 2rem;
}
.top-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.first-section-two {  
   background:#80A7BF;
   border-radius: 0 0 20px 20px;
   padding: 1rem 1.8rem 4rem 1.8rem;
}

.first-section-two h2 {
  color: #193140; 
  font-weight: 300;
  line-height: 2.2rem;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.first-sec-two-intro {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 300;
}

.first-sec-two-text {
  padding-bottom: 2.5rem;

}


  /* SECOND SECTION */
#second-section {
  padding: 5rem 6rem;
  text-align: center;
}

.second-sec {
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.heading-sec-sect {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 500;
}

/* THIRD SECTION */

#third-section {
  padding-top: 5rem;
  background: white;
  padding-bottom: 5rem;
}

/* .hide {
  display: none;
} */

.third-sec {
  margin-left: 2rem;
  margin-right: 2rem;
}

.third-sec-two {
  padding: 2rem 2rem 0 2rem;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
}


.one, .two, .three {
  padding-bottom: 2rem;
}

#third-section img {
  width: 100%;
  border-radius: 10px;
}
  
#third-section h3{
  text-align: center;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 2.5rem;
}




/* FORTH SECTION */
#forth-section {
  padding: 1rem 2rem;
}

#forth-section h3 {

  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;

}

#forth-section-intro {
  text-align: center;
  font-size: 2.8rem;
  line-height: 1;
  padding: 10rem 4rem 5rem 4rem;
  color:#193140;
}

.four {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.forth-one, .forth-two, .forth-three {
  padding: 4rem 0;
}

.learn {
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.num {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
  color: #A68F49;
}

/* FIFTH SECTION  */
#fifth-section {
  background-color: white;;
  padding-top: 3rem;
}


#fifth-section img {
  width: 100%;
  /* padding: 0 2rem; */
  border-radius: 10px;
}

.fifth-one {
  padding: 2rem 2rem 0 2rem;
}



.fifth-two {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#fifth-section h3 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}

/* SIXTH SECTION */

#sixth-section {
  color: white;

}

.six-one {
  background-color:#51768C;
  padding: 4rem 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.six-one p {
color: white;
}
.six-one blockquote {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 500;
  padding: 2.5rem 0;
}

.six-two img {
  width: 100%;
}

/* CONTACT SECTION */

#contact {
  padding: 4rem 2rem;
  background: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
  border-radius: 15px;
}

.subscribe-text{
  text-align: center;
  line-height: 1.5;
  padding-bottom: 7rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.subscribe-text h2{
  padding: 4rem 0;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

input[type=text], input[type=email], input[type=number], textarea {
  width: 100%;
  padding: 15px 0;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #A68F49;
  /* color: #A68F49; */
}

.btn-subscribe {
  width: 100%;
  height: 55px;
  background-color:white;
  color: #A68F49;
  padding: 1rem 2rem;
  border: #A68F49 2px solid;
  border-radius: 25px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 2rem;
}

.sect-contact {
  padding-bottom: 5rem;
}


/* PRE-FOOTER */
#pre-footer {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background:#80A7BF;
  padding: 8rem 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.pref h3, h4 {
  padding-bottom: 3rem;
}



/* FOOTER */
#footer {
  padding: 3rem 6rem;
  text-align: center;
  background: #193140;
  color: white;
}

#footer p {
  color: white;
}


/* MEDIA QUERY RESPONSIVENESS*/

@media (min-width: 600px) {
  body {
    max-width: 1366px;
    background-color: rgb(252, 251, 251);
    box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .main {
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: 
    "first-section first-section first-section"
    "second-section second-section second-section"
    "third-section third-section third-section"
    "forth-section-intro forth-section-intro forth-section-intro"
    "forth-section forth-section forth-section"
    "fifth-section fifth-section fifth-section";
  }

  .top-img {
    border-radius: 15px 0 0 15px;
    width: 100%;
  }
    
  #first-section {
    margin: 0 auto;
    grid-area: first-section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "first-section-one first-section-two";
  }

  .first-section-one {
    grid-area: first-section-one;
  }

  .first-section-two {  
    background:#80A7BF;
    border-radius: 0 15px 15px 0;
    display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 4rem 4rem;
   justify-content: center;
   grid-area: first-section-two;
   
   }

 .first-sec-two-intro {
   
   font-size: 4.5rem;
   line-height: 1.3;
   font-weight: 300;
   
 }

 .first-section-two h2 {
   text-align: left;
  }

  #second-section {
    grid-area: second-section;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 5rem 2rem;
  }

  #forth-section-intro {
    grid-area: forth-section-intro;
  }
  #forth-section {
    grid-area: forth-section;
  }
  #fifth-section {
    grid-area: fifth-section;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 10rem 0;
    width: 100%;
  }

  /* SECOND SECTION */

  .second-sec {
    padding: 2rem 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    text-align: left;
  }

  /* THIRD SECTION  */

  #third-section {
    border-radius: 15px;
    grid-area: third-section;
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "third-sec-one third-sec-one third-sec-one"
      "third-sec-two third-sec-two third-sec-two"
  }

  .third-sec-one {
    grid-area: third-sec-one;
    display: flex;
    padding: 3rem 0;
  }

  .third-sec-two {
    grid-area: third-sec-two;
    padding: 2rem 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "one two three";
  }

  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }

  /* FORTH SECTION */

  .four {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
   
  }
  .text-forth {
    padding: 0 20rem;
    font-size: 1.3rem;
  }

  .learn {
    font-size: 1.3rem;
  }

  /* FIFTH SECTION */

  .fifth-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem ;
  }
  
  .fifth-two h3 {
    padding: 0 4rem;
  }

  .fifth-two p {
    padding: 0 4rem;
  }

 /* SIXTH SECTION  */

  #sixth-section {
   display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .six-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 12rem;
  }

  .six-one blockquote {
    font-size: 3rem;
  }

  /* CONTACT SECTION */
  #contact {

    /* background-color: #80A7BF; */
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .subscribe-text {
    padding-top: 5rem;
    margin: 0 auto;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pre-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  .pref h3, h4 {
    padding-bottom: 4rem;
  }
  .pref p {
    padding-bottom: 2rem;
  }


}

